// Blog page styles

// Add backlground-color
.blog-post-text{
    background-color:$quaternary;
    position:relative;
    .wrapper{
        width:90%;
        max-width:1200px;
        margin:0 auto;
    }

    // Add some padding to creat space
    padding:60px 0 60px 0;

    .new-menu-image{
        position:absolute;
        right:0;
        top:-130px;
        width:63%;
    }

    // Re-size imgae
    .mission-image{
        width:25%;
        margin-top:5%;
        img{
            box-shadow:41px 4px 0px -5px $quinary;
        }
      
    }
    // Flex container container containing mission and recent posts
    .mission{
        display:flex;
        flex-direction:column; 
        width:50%;
    }
  
    
    aside{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        width:75%;
        background-color:$quinary;
        padding: 0px 19px 13px 21px;
    
        h3{
            font-size:1.95rem;
            margin-bottom:0;
        }
        p{
            font-size:1rem;
            line-height:15px;
            margin:-10px 0 0 0;
        }
        .mission-text a{
            color:$tertiary;
        }
        li{
                line-height:15px;
                margin-left:20px;
                position:relative;
                font-size:1rem;
                line-height:15px;
                letter-spacing: 1.9px;
                font-family:$bodyFont;
               

                &::before{
                    content:"•";
                    position: absolute;
                    color: $secondary;
                    font-size: 4rem;
                    left: -20px;
                    display:inline-block;

                
                }
            }
        }
    
    .blog-container{
        display:flex;
    }
    
    article{
        padding:39px 1px 41px 73px;
        // border-left:5px solid orange;
        position:relative;
        border-left:5px solid orange;
        margin-left:12%;

        .blog-date{
            margin-top:0;
            color:$tertiary;
        }

        
            
        
        // &::before{
        //     content:'';
        //     position:absolute;
        //     border-left:5px solid orange;
        //     height: 494px;
        //     top: -15px;
        //     left: 94px;
        // }
        &::after{
            content:'';
            position:absolute;
            border-bottom:5px solid orange;
            bottom: 0px;
            width: 100%;
            left: 94px;;
        }
        
        
    
    }
    // Re-size elements in blog post
    .new-menu-blog-post{
        
       
        h3{
            font-size:1.95rem;
        }
        p{
            font-size:1rem;
            line-height:15px;
        }

 
    }


    
}