// Blog page styles

// Add backlground-color
.blog-post-text{
    background-color:$quaternary;
    position:relative;

    // Add some padding to creat space
    padding:60px 0 60px 0;

    // Re-size imgae
    .mission-image{
        width:25%;
    }
    .wrapper{
        display:flex;
    
    }

    // Flex the aside container
    // Display as coloumn 
    aside{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        width:50%;
        // Give both mission section and recent posts a width of 25%
        // Style colour and padding
        // Re-size all elements in these containers
        // &>*{
        //     width:25%;
        //     background-color: $quinary;
        //     padding:20px
        // }
        h3{
            font-size:1.95rem;
        }
        p{
            font-size:1rem;
            line-height:15px;
        }
        ul{
            list-style:circle;
            li{
                line-height:15px;
            }
        }
    }

    .new-menu-image{
        position:absolute;
        right:0;
        top:-130px;
        width:60%;
    }
    article{
        border-left:4px solid $tertiary;
        
        &::after{
            content:"";
            display:block;
            border-bottom: 5px solid $tertiary;
        }
    }
    // Re-size elements in blog post
    .new-menu-blog-post{
        width:80%;
       
        h3{
            font-size:1.95rem;
        }
        p{
            font-size:1rem;
            line-height:15px;
        }

 
    }


    
}