// Display header image

.contact-header{
    background-image: url("../assets/contact-header-1.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:60vh;
    width:100vw;
   
    // Style H2 - "Get in touch"
    // .contact-h2{
        
    // }    

    nav{
        padding-top:25px;
    }
}

// Styles for main content

.contact{
    background-color:$quaternary;
    padding:100px 0 100px 0;
    

    // Flex container so contact info and form are side-by-side
    .contact-info{
        display:flex;
        justify-content: space-between;
    }
    .social-contact{
        display:flex;
        flex-direction:column;
        width:30%;
    }
    .address-contact{
        font-size:1rem; 

        // Chnage line height to keep list items tighter
        li{
            line-height:30px;
            // Add margin-bottom on the email address 
            &:nth-child(1){
                margin-bottom:15px;
            }
        }
    }
    
    // Align social media icons so they sit beside eachother
    .social-media{
        display:flex; 
    // 
    //      Add space between each icon
        li
        {
            // flex-basis:10%;
            margin-right:20px;
        }
        
    }

    // Adjusted Form styling
    form{
        padding:40px 50px;
        margin-top:-18%;
        width:65%;   
    }
        
}

