// Main Page

// Header styles
.main-page-header{
    background-image:url('../assets/home-image-1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
   

// H2 in header style with span 'Place to be"
    h2{
        color:$tertiary;
        font-size:13.07rem;
        font-family:$barOne;
        text-align:center;
        margin-bottom:0;
        display:inline;
        z-index:100;
        position:relative;
        letter-spacing:2.4px;
        font-weight:400;
        
        
        span{
            display: block;
            color:$primary;
            font-family: $bodyFont;
            font-weight:700;
            line-height:94.7px;
            letter-spacing:2.6px;
            font-size:4.16rem;
            margin-right: 36%;
            margin-top: -20%;
        }   
    }

    .header-flex{
        margin-top:20%
        // Position second image absolute 
    }
        .offset-header-image{
            position: absolute;
            right: 0;
            bottom:-80px;
            width:50%;
        }
}


// Space-Communtity section - First section in Main

.space-community{
    background-color:$quaternary;
    padding:150px 0 80px 40px;


    // Flex ul 
    ul{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;

        // Give each list item a width
        li{
            flex-basis:calc((100% / 2) - 45px);
            position:relative;
        }
        
        // Add a pseudo element before each list item - the 'icons'
        .new-space-icon::before{
            position: absolute;
            left: -62px;
            width: 45px;
            height: 45px;
            background: darkred;
            color: #fff;
            text-align: center;
            line-height: 41px;
            border-radius: 50%;
            top: 5px;
            font-family:"Font Awesome 5 Free";
            font-weight: 900;
            content: "\f007";
            font-size: 26px;
        }  
        .community-icon::before{
            position: absolute;
            left: -62px;
            width: 45px;
            height: 45px;
            background: darkred;
            color: #fff;
            text-align: center;
            line-height: 46px;
            border-radius: 50%;
            top: 5px;
            font-family:"Font Awesome 5 Free";
            font-weight: 900;
            content: "\f0c0";
            font-size: 26px;
        } 
        .blog-icon::before{
            position: absolute;
            left: -62px;
            width: 45px;
            height: 45px;
            background: darkred;
            color: #fff;
            text-align: center;
            line-height: 45px;
            border-radius: 50%;
            top: 5px;
            font-family:"Font Awesome 5 Free";
            font-weight: 900;
            content: "\f249";
            font-size: 26px;
        } 
        .get-in-touch-icon::before{
            position: absolute;
            left: -62px;
            width: 45px;
            height: 45px;
            background: darkred;
            color: #fff;
            text-align: center;
            line-height: 43px;
            border-radius: 50%;
            top: 5px;
            font-family:"Font Awesome 5 Free";
            font-weight: 900;
            content: "\f879";
            font-size: 26px;
        } 
    
        // Adjust margin on paragraphs
        p{
            margin-top:0;
        }
    }
    
} //End of first section styles

// Plan Locations section - ssecond section in main
.plan-locations{
    background-color:$quinary;
    padding:70px 0 80px 0;
    position:relative;
    
    //Style all anchor tags in section
    a{
        background-color: $secondary;
        font-family:$barOne;
        font-weight:400;
        width: 30%;
        padding: 7px 40px;
        text-align: center;
        font-size: 1.8rem;  
        display:inline;
    }
    
   
    // Flex div that contains both text boxes
    .plan-locations-text{
        display:flex;
        flex-direction:column;
        p{
            margin-top:0;
        }
    }

    .plan-ahead, .new-locations{
        width:45%
    }
    // Align flex child to the end of the flex container
    .plan-ahead{
        align-self:flex-end;
       
    }

    .new-locations{
        margin-top: 70px;
        text-align: right;
        p{
            text-align:left;
        }
    }
    //Position image to overlap with previous section    
        .plan-ahead-image{ 
            width:40%;   
            position:absolute;
            left:0;
            top:-25px;
        //Add box shawdow to the image
            img{
                box-shadow: 25px 25px 0px 0px $tertiary; 
            }
        } 
        
        // Ajust width of text area 
        // Remove margin from paragraph
    
        
    

    // Flex container that image and text are in
   

        //Position image to overlap with previous section 
        .new-locations-image{ 
            width:40%;
            position:absolute;
            right:0;
            bottom:-50px;
           

            img{
                box-shadow: -25px -25px 0px 0px $tertiary; 
            }       
        }

        // Adjust width of text section and remove margin from paragraph
       
    
} //End of section section styles

// Host a party section
.host-a-party{
    background-color:$quaternary;
    padding:120px 0 120px 0;

    // Change color on h3 and center
    h3{
        color:$tertiary;
        text-align:center;
    }

    // Style anchor tag
    a{
        background-color: $secondary;
        font-family:$barOne;
        font-weight:400;
        width: 25%;
        padding: 7px 14px;
        text-align: center;
        font-size: 1.8rem;  
        margin:0 auto;
    }
}

// Banner image section
.beer-image{
    background-image:url('../assets/banner-image.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height:50vh;
    width:100vw;
}

// Events Section
.events{
    background-color:$quaternary;
    padding:100px 0 100px 0;
    .events-content{
        display:flex;
    }
    .events-image{
        width:50%;

        img{
            width:100%;
            box-shadow:20px 18px 0 0 $tertiary;
        }
    }

    .events-text{
        width: auto;
        margin-left: 10%;
        h3{
            color:$tertiary;
        }
        p{
            margin-top:2px;
        }
        a{
            background-color: $secondary;
            font-family:$barOne;
            font-weight:400;
            width: 25%;
            padding: 7px 14px;
            text-align: center;
            font-size: 1.8rem;  
        }
    }
}

// image gallery styles

// use flex-box so each image is side-by-sode
.image-gallery{
    background-color:$quinary;
    padding:50px 0 50px 0;
    
    ul{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        
        // set the width of each li
        li{
            flex-basis:30%;
        }
    }
}

