// All media queriers 
// Styled from HomePage>ContactPage>BlogPage

@media screen and (max-width:1200px){
// BLOG PAGE MEDIA QUERIES
    .blog-post-text{

    // Reposition aside image
        .mission-image{
            left: -74px; 
        }

    // Reposition Large Blog post Picture
    .new-menu-image{
    left: 69px;
    }

    // Adjust position of the article
    article{
    margin-top: -35%;
    margin-left: 7%;
    }
    }

}

@media screen and (max-width:900px){
// MEDIA QUERIES FOR MAIN PAGE

// Display hamburger menu icon and collapse all other nav items except H1
    nav{
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
    
        .main-nav-menu-item{
            visibility:hidden;
            position : absolute;
        }

        button{
            visibility: visible; 
            padding-top:30px;
        }

        ul li{
            padding:0;
        }

        h2{
            margin:30px 0 0 0;
        }
    }
    // Overlapping image on header width adjustment
    .main-page-header{

        .header-flex{
            .offset-header-image{
                width:64%;
            }
        }  
    }

    // Plan-ahead section
    .plan-locations{

        // Adjust width position of flex container
        .new-locations{
            margin-top:-125px;
        }
        // Chnage the width of each flex-child
        .new-locations-image, .plan-ahead-image{
            width:60%;
        }
    }

    // Events Section
    .events{
        padding:50px 0 50px 0;
        .events-image{
            width:100%;
        }
        .events-text{
            a{
            width:35%;
            }
        }   
    }
// END OF MAIN PAGE QUERIES
    
// START OF CONTACT PAGE QUERIES

// Change form flex direction and increase form width
    .contact{
        form{
            flex-direction:column;
            width:75%;

            // Increase width of input fields
                input[type=text],input[type=email]
                {
                    width:calc(100% - 10px);
            }
            // Add top-marghing to separete text and email input
                input[type=email]
                {
                    margin-top:25px;
            }
        }
    }

    // START OF BLOG PAGE MEDIAs QUERIES

    aside{
        // Push the aside to the end of the container
        position:relative;
        left: -43px;
        span{
            display: block;
            margin-top: -28px;
        }
    }

    .blog-post-text{

        // Adjust the position left on overlapping image
        .new-menu-image{
            left: 11px; 
        }
    
        // Adjust article margins and width
        article{
            margin-top: -43%;
            margin-left: 3px;
            width:100%;
        }
    }

    // Comments Section{
    .comments-container{
        .comments{
            // Align Comments h4 to the start of the container
            h4{
                align-self:start;
            }
            .top-comment, .second-comment{
                width:100%;
            }
            form{
                width:100%;
                padding-left:0;
                padding-right:0;
            }
        }
    }
}
   
@media screen and (max-width:700px){
// START OF MEDIA QUERIES FOR MAIN PAGE 

    // Plan locations section
    // Position and width adjustments for offset images
    .plan-locations{
        padding: 30px 0 30px 0;
        .plan-locations-text{
             padding:354px 0;
            }
        .plan-ahead-image, .new-locations-image{
            width:100%;
            }
            .plan-ahead-image{
                left:-69px;
                top:-59px;
            }
            .new-locations-image{
                right:-69px;
                bottom:-90px;
            }
        .plan-ahead, .new-locations{
            width:100%;
        }

        .new-locations{
            margin-top: 30px;
        } 
    }
    // Space-community section
    .space-community{
        ul{
            flex-direction:column;
        }
    }

    // events section
    .events{
        .events-text{
            a{
            width:45%;
            }
        }   
    }

    // Host a party section
    .host-a-party{
        padding-bottom:40px;
        a{
            width:50%;
        }
    }

//END OF MAIN PAGE MEDIA QUERIES

// START OF CONTACT PAGE MEDIA QUERIES

    // Form adjustments
    .contact{
        padding-bottom:20px;
        form{
            width:100%;
            margin-top:-30%;
        }   
        // Reverse direction so contacts are below the form
        .contact-info{
            flex-direction:column-reverse;
        }

        .social-contact{
            margin-top:10%;
            align-self:left;
        }
    }

    // START OF BLOG PAGE MEDIA QUERIES
    .blog-container{
        // Reverse so blog post is dispayed first with the aside below
        flex-direction:column-reverse;
        aside{
            left:40px;
            margin-top:30px;
            // Style span so words in each h3 are stacked
            span{
                display:inline;
                margin-top:0;
            }
        }
        // Adjust margins on article
        article{
            padding-left:30px;
            margin-top: -45%;
            margin-left: 3px;
        }  
    }
}

@media screen and (max-width:600px){

    // Chanhe wrapper widths for mobile use
    .wrapper{
        width:85%;
    }
    .main-page-header{

        .header-flex{
            // Adjust image to take up full width of screen
            .offset-header-image{
            width:100%;
            }
        }  
    }
  
    // Host a party section anchor tag width change
    .host-a-party{
        a{
            width:100%;
        }
    }
    // Events Section
    .events{
        padding-bottom:20px;
        .events-content{
            flex-direction:column;
            .events-text{
                margin-left:0;
                margin-top:20px;
            }
            a{
                width:100%;
            }
        }
    }

    // Adjust images to be displayed vertically
 
    .image-gallery{
        padding:30px 0 30px 0;
        ul{
            flex-direction:column;
            li{
                padding:10px 0;
                width:100%;
            }
            img{
                width:100%;
                    
            }  
        }
    }
    // END OF MAIN PAGE MEDIA QUERIES

    //START OF CONTACT PAGE MEDIA QUERIES
    .contact{
        form{
            margin-top:-45%;
        }
    }
    
}

@media screen and (max-width:500px){
    .plan-locations{
        .plan-locations-text{
            padding: 270px 0;
        }   
    }

// START CONTACT PAGE MEDIA QUERIES
.contact{
    .social-contact{
        margin-top:15%;
        }
    }

.blog-container{
    article{
        margin-top:-65%;
    }
}
}

@media screen and (max-width:420px){

    // Bar-One H1
    // Adjust so words are stacked vertically
    .main-page-header{
        .header-flex{
            text-align:center;
        }
        h1{
            line-height:191px;
            // Line up "place to be"
            span{
                margin-top:-2%;
                margin-right:0;
            }
        }
    }
    .plan-locations{
        .plan-locations-text{
            padding: 225px 0;
            .plan-ahead-image{
                left:-31px;
            }
            .new-locations-image{
                right:-31px;
            }   
        }
    }

    // Contact Page
    .contact{
        form{
            padding:10px 10px;
        }
    }
    
    // START OF BLOG PAGE MEDIA QUERIES
    .blog-container{
        article{
            margin-top:-80%;
        }
    }

    // Form adjustments
    .comments-container{
        .comments{
            .top-comment, .second-comment{
                width:100%;
            }
            form{

                input[type=text], input[type=email]{
                    width:calc(100% - 10px);
                }
                input[type=email]{
                    margin-top:20px;
                }
            }
        }
    }
}

@media screen and (max-width:320px){

    .plan-locations{
        padding: 33px 0 33px 0;
        .plan-locations-text{
            padding-top:170px;
        }
    }
    // END OF MAIN PAGE MEDIA QUERIES
    // START OF CONTACT PAGE MEDIA QUERIES
    .blog-post-text{

        .new-menu-image{
            bottom:239px;
        }

    }
}