// typography.scss

html{
    font-size:125%;
    color:$primary;
    font-family:$bodyFont;
    box-sizing: border-box;
}

nav{
    font-family:$bodyFont;
    font-weight:700;
    font-size:1.9rem;
    line-height:29px;
    letter-spacing: 1.9px;
}

h1{
    font-family:$barOne; 
    font-weight:400;
    
}

// Remove anchor tag default styles
a{
    display:block;
    text-decoration: none;
    color:$primary;
}

// Remove default styles for a,ul and li elements

ul{
    list-style:none;
}
a, ul, li{
    padding:0;
    margin:0;
}

h3{
    font-size:3.4rem;
    line-height:58px;
    letter-spacing: 2.2px;  
    margin:0; 
 }

 p{
    font-family:$bodyFont;
    font-size:1.95rem;
    line-height:30px;
    letter-spacing:1.9px;
 }

//  Nav styles
 nav ul{
    display:flex;
    justify-content: center;
    color:$primary;
    font-weight:400;

    li{
       padding:0 25px;
        
     }
    li:nth-child(1){
        padding-top:50px;   
    }
    li:nth-child(2){
        padding-top:50px;    
    }
    li:nth-child(4){
        padding-top:50px;   
    }
    li:nth-child(5){
        padding-top:50px;  
    }   
    li:nth-child(3){
        padding:0 35px;
    }

    // Transition properties for hover/focus
    a{
        transition:.3s ease-in;
    }

    // Create hover/focus state for nav items
    a:hover, a:focus{
        color:$tertiary;
    }
}

// Footer Styles

// Footer styles
   
footer{
    text-align:center;
    background-color:grey;
    padding:5px;
    font-family:$barOne;
    p{
        margin:0;
    }
}



// Form styling
form{
    background-color: $quinary;
    width:60%;
    color:$primary;
    // border:40px solid $quinary;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    box-shadow: 30px 30px 0px -10px #FF8327;
    

    // Input field styling
    input[type=text], input[type=email]{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline:none;
    background-color:$quinary;
    width:calc((100% / 2) - 10px);
    
    
     // Style placeholder text for input and textarea
        &::placeholder{
            color:$primary;
            font-family:$bodyFont;
        }
    }
    // textarea styling
    input[type=textarea]{
        width:100%;
        height:250px;
        outline:none;
        background-color:$quinary;
        margin-top:5%;

        // Style placeholder text for input and textarea
            &::placeholder{
            color:$primary;
            font-family:$bodyFont;
            margin-top:20%;
            }
    }
    // Button styles
    button{
    background-color: $secondary;
    color:$primary;
    font-family:$barOne;
    font-weight:400;
    width: 100%;
    padding: 3px 14px;
    text-align: center;
    font-size: 1.8rem;
    border:none;
    margin-top:2%;
    }

    label{
        display:inline-block;
    }
    
}
