// typography.scss

html{
    font-size:125%;
    color:$primary;
    font-family:$bodyFont;
}

nav{
    font-family:$bodyFont;
    font-weight:700;
    font-size:1.9rem;
    line-height:29px;
    letter-spacing: 1.9px;
}

h1{
    font-family:$barOne; 
}

// Remove anchor tag default styles
a{
    display:block;
    text-decoration: none;
    color:$primary;
}

// Remove default styles for a,ul and li elements

ul{
    list-style:none;
}
a, ul, li{
    padding:0;
    margin:0;
}

h3{
    font-size:3.4rem;
    line-height:58px;
    letter-spacing: 2.2px;  
    margin:0; 
 }

 p{
    font-family:$bodyFont;
    font-size:1.95rem;
    line-height:30px;
    letter-spacing:1.9px;
 }

//  Nav styles
 nav ul{
    display:flex;
    justify-content: center;
    padding-top:20px;
    color:$primary;

    li{
        margin:0 2%;
    }
    li:nth-child(1){
        padding-top:48px;   
    }
    li:nth-child(2){
        padding-top:48px;    
    }
    li:nth-child(4){
        padding-top:48px;   
    }
    li:nth-child(5){
        padding-top:48px;  
    }   
}

// Footer Styles

// Footer styles
   
footer{
    text-align:center;
    background-color:grey;
    padding:5px;
    font-family:$barOne;
    p{
        margin:0;
    }
}