// varibales.scss

/* site fonts */
$barOne: 'Tulpen One';
$bodyFont: 'Chathura';
/* if we set our root element font-size to 125%, then 1 rem = 20px */
$baseFontSize: 1rem;

/* site colours */
$primary: #FFFFFF; 
$secondary: #BF2603; 
$tertiary: #FF8327; 
$quaternary: #111010; 
$quinary: #220303; 
