@charset "UTF-8";
/* site fonts */
/* if we set our root element font-size to 125%, then 1 rem = 20px */
/* site colours */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 125%;
  color: #FFFFFF;
  font-family: "Chathura";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  font-family: "Chathura";
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

h2 {
  font-family: "Tulpen One";
  font-weight: 400;
  margin: 18px 10px;
}

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

a, ul, li {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 3.4rem;
  line-height: 58px;
  letter-spacing: 2.2px;
  margin: 0;
}

p {
  font-family: "Chathura";
  font-size: 1.95rem;
  line-height: 30px;
  letter-spacing: 1.9px;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: inline-block;
  max-width: 100%;
}

nav button {
  visibility: hidden;
  border: none;
  background-color: transparent;
  color: #FF8327;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-weight: 400;
}
nav ul li {
  padding: 0 30px;
}
nav ul .main-nav-menu-item {
  padding-top: 20px;
}
nav ul a {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
nav ul a:hover, nav ul a:focus {
  color: #FF8327;
}
nav .exit-button {
  position: absolute;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  top: -24px;
  right: 50px;
  font-size: 1rem;
  color: white;
}
nav .exit-button:hover, nav .exit-button:focus {
  color: orange;
}
nav .slide-out-menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav .slide-out-menu li {
  margin-bottom: 50px;
}
nav .slide-out-menu {
  background-color: black;
  top: 28px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  width: 0;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

form {
  background-color: #220303;
  width: 60%;
  color: #FFFFFF;
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 30px 30px 0px -10px #FF8327;
          box-shadow: 30px 30px 0px -10px #FF8327;
  position: relative;
}
form input[type=text], form input[type=email] {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  background-color: #220303;
  width: calc(50% - 10px);
  color: #FFFFFF;
  padding-bottom: 25px;
  padding: 0 0 25px 20px;
}
form input[type=text]::-webkit-input-placeholder, form input[type=email]::-webkit-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form input[type=text]::-moz-placeholder, form input[type=email]::-moz-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form input[type=text]:-ms-input-placeholder, form input[type=email]:-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form input[type=text]::-ms-input-placeholder, form input[type=email]::-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form input[type=text]::placeholder, form input[type=email]::placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form textarea {
  width: 100%;
  height: 225px;
  margin: 33px 0;
  background-color: #220303;
  outline: none;
  padding: 30px 0 0 20px;
}
form textarea::-webkit-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form textarea::-moz-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form textarea:-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form textarea::-ms-input-placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form textarea::placeholder {
  font-family: "Chathura";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
form button {
  background-color: #BF2603;
  color: #FFFFFF;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  border: none;
  margin-top: 2%;
  letter-spacing: 1.3px;
  height: 33px;
}
form label {
  opacity: 0;
  position: absolute;
  right: 999px;
}

footer {
  text-align: center;
  background-color: #313131;
  padding: 5px;
  font-family: "Tulpen One";
}
footer p {
  margin: 0;
}

.contact-header h3, .blog-header h3 {
  font-size: 3.4rem;
  line-height: 58px;
  letter-spacing: 2.2px;
  font-weight: bold;
  margin-top: 15%;
}

.main-page-header {
  background-image: url("../assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page-header h1 {
  color: #FF8327;
  font-size: 13.07rem;
  font-family: "Tulpen One";
  text-align: center;
  margin-bottom: 0;
  display: inline;
  z-index: 100;
  position: relative;
  letter-spacing: 2.4px;
  font-weight: 400;
}
.main-page-header h1 span {
  display: block;
  color: #FFFFFF;
  font-family: "Chathura";
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  font-size: 4.16rem;
  margin-right: 36%;
  margin-top: -20%;
}
.main-page-header .header-flex {
  margin-top: 20%;
}
.main-page-header .offset-header-image {
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 50%;
}

.space-community {
  background-color: #111010;
  padding: 150px 0 80px 40px;
}
.space-community ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.space-community ul li {
  -ms-flex-preferred-size: calc(50% - 45px);
      flex-basis: calc(50% - 45px);
  position: relative;
}
.space-community ul .new-space-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  font-size: 26px;
}
.space-community ul .community-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c0";
  font-size: 26px;
}
.space-community ul .blog-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f249";
  font-size: 26px;
}
.space-community ul .get-in-touch-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f879";
  font-size: 26px;
}
.space-community ul p {
  margin-top: 0;
}

.plan-locations {
  background-color: #220303;
  padding: 70px 0 80px 0;
}
.plan-locations a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 30%;
  padding: 7px 40px;
  text-align: center;
  font-size: 1.8rem;
  display: inline;
}
.plan-locations .plan-locations-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.plan-locations .plan-locations-text p {
  margin-top: 0;
}
.plan-locations .plan-ahead, .plan-locations .new-locations {
  width: 45%;
}
.plan-locations .plan-ahead {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.plan-locations .new-locations {
  margin-top: 70px;
  text-align: right;
}
.plan-locations .new-locations p {
  text-align: left;
}
.plan-locations .plan-ahead-image {
  width: 50%;
  position: absolute;
  left: -127px;
  top: -96px;
}
.plan-locations .plan-ahead-image img {
  -webkit-box-shadow: 25px 25px 0px 0px #FF8327;
          box-shadow: 25px 25px 0px 0px #FF8327;
}
.plan-locations .new-locations-image {
  width: 50%;
  position: absolute;
  right: -122px;
  bottom: -126px;
}
.plan-locations .new-locations-image img {
  -webkit-box-shadow: -25px -25px 0px 0px #FF8327;
          box-shadow: -25px -25px 0px 0px #FF8327;
}

.host-a-party {
  background-color: #111010;
  padding: 120px 0 120px 0;
}
.host-a-party h3 {
  color: #FF8327;
  text-align: center;
}
.host-a-party a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 25%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto;
}

.beer-image {
  background-image: url("../assets/banner-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  width: 100vw;
}

.events {
  background-color: #111010;
  padding: 100px 0 100px 0;
}
.events .events-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events .events-image {
  width: 50%;
}
.events .events-image img {
  width: 100%;
  -webkit-box-shadow: 20px 18px 0 0 #FF8327;
          box-shadow: 20px 18px 0 0 #FF8327;
}
.events .events-text {
  width: auto;
  margin-left: 10%;
}
.events .events-text h3 {
  color: #FF8327;
}
.events .events-text p {
  margin-top: 2px;
}
.events .events-text a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 25%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
}

.image-gallery {
  background-color: #220303;
  padding: 50px 0 50px 0;
}
.image-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #111010;
  padding: 50px;
  width: 50%;
  border-radius: 3%;
  margin: 0 auto;
}

.contact-header {
  background-image: url("../assets/contact-header-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  width: 100vw;
}
.contact-header nav {
  padding-top: 25px;
}

.contact {
  background-color: #111010;
  padding: 100px 0 100px 0;
}
.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}
.contact .address-contact {
  font-size: 1rem;
}
.contact .address-contact li {
  line-height: 30px;
}
.contact .address-contact li:nth-child(1) {
  margin-bottom: 15px;
}
.contact .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .social-media li {
  margin-right: 20px;
}
.contact form {
  padding: 40px 50px;
  margin-top: -18%;
  width: 65%;
}

.blog-header {
  background-image: url("../assets/blog-header-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 65vh;
  width: 100vw;
}

.blog-post-text {
  background-color: #111010;
  padding: 60px 0 60px 0;
}
.blog-post-text .wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.blog-post-text aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #220303;
  padding-left: 16px;
}
.blog-post-text aside .mission-image {
  width: 130%;
  position: relative;
  left: -120px;
}
.blog-post-text aside h3 {
  font-size: 1.95rem;
  margin-bottom: 0;
}
.blog-post-text aside p {
  font-size: 1.4rem;
  line-height: 19px;
  margin: -10px 0 0 0;
}
.blog-post-text aside .find-out-more {
  color: #FF8327;
}
.blog-post-text aside li {
  line-height: 15px;
  margin-left: 20px;
  position: relative;
  font-size: 1.4rem;
  line-height: 19px;
  letter-spacing: 1.9px;
  font-family: "Chathura";
}
.blog-post-text aside li::before {
  content: "•";
  position: absolute;
  color: #BF2603;
  font-size: 4rem;
  left: -20px;
  display: inline-block;
}
.blog-post-text aside .recent-posts {
  padding-bottom: 16px;
}
.blog-post-text .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-post-text .misson {
  width: 100%;
}
.blog-post-text .new-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-post-text .new-menu-image {
  position: relative;
  width: 98%;
  z-index: 1;
  left: 117px;
  bottom: 283px;
}
.blog-post-text .new-menu-image img {
  -webkit-box-shadow: -10px 19px 0px -2px #FF8327;
          box-shadow: -10px 19px 0px -2px #FF8327;
}
.blog-post-text article {
  padding: 20px 1px 41px 73px;
  border-left: 5px solid #FF8327;
  position: relative;
  width: 85%;
  margin-top: -30%;
  margin-left: 12%;
  width: 85%;
}
.blog-post-text article .blog-date {
  margin-top: -10px;
  color: #FF8327;
}
.blog-post-text article::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #FF8327;
  bottom: 0px;
  width: 116%;
  left: 0px;
}
.blog-post-text .new-menu-blog-post h3 {
  font-size: 1.95rem;
}
.blog-post-text .new-menu-blog-post p {
  font-size: 1.4rem;
  line-height: 19px;
}

.comments-container {
  background-color: #111010;
  padding-bottom: 25px;
}
.comments-container h4 {
  -ms-flex-item-align: center;
      align-self: center;
  width: 20%;
  font-size: 1.6rem;
}
.comments-container p {
  font-size: 1.4rem;
  line-height: 19px;
  margin: 0;
}
.comments-container .commnet-date {
  color: #FF8327;
  margin-bottom: 10px;
}
.comments-container .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -53px;
}
.comments-container .comments .comment-text {
  width: 80%;
  margin-left: 50px;
}
.comments-container .comments .top-comment {
  margin-bottom: 100px;
}
.comments-container .comments .top-comment, .comments-container .comments .second-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.comments-container .comments form {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 65%;
  padding-left: 70px;
  padding-right: 0px;
}
.comments-container .comments form {
  background-color: revert;
}
.comments-container .comments form input {
  background-color: #111010;
  border-bottom: 2px solid #FF8327;
}
.comments-container .comments form textarea {
  background-color: #111010;
  border: 2px solid #FF8327;
}

@media screen and (max-width: 1200px) {
  .blog-post-text .mission-image {
    left: -74px;
  }
  .blog-post-text .new-menu-image {
    left: 69px;
  }
  .blog-post-text article {
    margin-top: -35%;
    margin-left: 7%;
  }
}
@media screen and (max-width: 900px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .main-nav-menu-item {
    visibility: hidden;
    position: absolute;
  }
  nav button {
    visibility: visible;
    padding-top: 30px;
  }
  nav ul li {
    padding: 0;
  }
  nav h2 {
    margin: 30px 0 0 0;
  }

  .main-page-header .header-flex .offset-header-image {
    width: 64%;
  }

  .plan-locations .new-locations {
    margin-top: -125px;
  }
  .plan-locations .new-locations-image, .plan-locations .plan-ahead-image {
    width: 60%;
  }

  .events {
    padding: 50px 0 50px 0;
  }
  .events .events-image {
    width: 100%;
  }
  .events .events-text a {
    width: 35%;
  }

  .contact form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
  }
  .contact form input[type=text], .contact form input[type=email] {
    width: calc(100% - 10px);
  }
  .contact form input[type=email] {
    margin-top: 25px;
  }

  aside {
    position: relative;
    left: -43px;
  }
  aside span {
    display: block;
    margin-top: -28px;
  }

  .blog-post-text .new-menu-image {
    left: 11px;
  }
  .blog-post-text article {
    margin-top: -43%;
    margin-left: 3px;
    width: 100%;
  }

  .comments-container .comments h4 {
    -ms-flex-item-align: start;
        align-self: start;
  }
  .comments-container .comments .top-comment, .comments-container .comments .second-comment {
    width: 100%;
  }
  .comments-container .comments form {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 700px) {
  .plan-locations {
    padding: 30px 0 30px 0;
  }
  .plan-locations .plan-locations-text {
    padding: 354px 0;
  }
  .plan-locations .plan-ahead-image, .plan-locations .new-locations-image {
    width: 100%;
  }
  .plan-locations .plan-ahead-image {
    left: -69px;
    top: -59px;
  }
  .plan-locations .new-locations-image {
    right: -69px;
    bottom: -90px;
  }
  .plan-locations .plan-ahead, .plan-locations .new-locations {
    width: 100%;
  }
  .plan-locations .new-locations {
    margin-top: 30px;
  }

  .space-community ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .events .events-text a {
    width: 45%;
  }

  .host-a-party {
    padding-bottom: 40px;
  }
  .host-a-party a {
    width: 50%;
  }

  .contact {
    padding-bottom: 20px;
  }
  .contact form {
    width: 100%;
    margin-top: -30%;
  }
  .contact .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .social-contact {
    margin-top: 10%;
    -ms-flex-item-align: left;
        align-self: left;
  }

  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog-container aside {
    left: 40px;
    margin-top: 30px;
  }
  .blog-container aside span {
    display: inline;
    margin-top: 0;
  }
  .blog-container article {
    padding-left: 30px;
    margin-top: -45%;
    margin-left: 3px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    width: 85%;
  }

  .main-page-header .header-flex .offset-header-image {
    width: 100%;
  }

  .host-a-party a {
    width: 100%;
  }

  .events {
    padding-bottom: 20px;
  }
  .events .events-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .events-content .events-text {
    margin-left: 0;
    margin-top: 20px;
  }
  .events .events-content a {
    width: 100%;
  }

  .image-gallery {
    padding: 30px 0 30px 0;
  }
  .image-gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-gallery ul li {
    padding: 10px 0;
    width: 100%;
  }
  .image-gallery ul img {
    width: 100%;
  }

  .contact form {
    margin-top: -45%;
  }

  .blog-container article {
    margin-top: -54%;
  }
}
@media screen and (max-width: 500px) {
  .plan-locations .plan-locations-text {
    padding: 270px 0;
  }

  .contact .social-contact {
    margin-top: 15%;
  }

  .blog-container article {
    margin-top: -65%;
  }
}
@media screen and (max-width: 420px) {
  .main-page-header .header-flex {
    text-align: center;
  }
  .main-page-header h1 {
    line-height: 191px;
  }
  .main-page-header h1 span {
    margin-top: -2%;
    margin-right: 0;
  }

  .plan-locations .plan-locations-text {
    padding: 225px 0;
  }
  .plan-locations .plan-locations-text .plan-ahead-image {
    left: -31px;
  }
  .plan-locations .plan-locations-text .new-locations-image {
    right: -31px;
  }

  .contact form {
    padding: 10px 10px;
  }

  .blog-container article {
    margin-top: -80%;
  }

  .comments-container .comments .top-comment, .comments-container .comments .second-comment {
    width: 100%;
  }
  .comments-container .comments form input[type=text], .comments-container .comments form input[type=email] {
    width: calc(100% - 10px);
  }
  .comments-container .comments form input[type=email] {
    margin-top: 20px;
  }
}
@media screen and (max-width: 320px) {
  .plan-locations {
    padding: 33px 0 33px 0;
  }
  .plan-locations .plan-locations-text {
    padding-top: 170px;
  }

  .blog-post-text .new-menu-image {
    bottom: 239px;
  }
}