/* site fonts */
/* if we set our root element font-size to 125%, then 1 rem = 20px */
/* site colours */
.main-page-header {
  background-image: url("../assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -10;
}
.main-page-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  color: #FFFFFF;
}
.main-page-header ul li {
  margin: 0 2%;
}
.main-page-header ul li:nth-child(1) {
  padding-top: 48px;
}
.main-page-header ul li:nth-child(2) {
  padding-top: 48px;
}
.main-page-header ul li:nth-child(4) {
  padding-top: 48px;
}
.main-page-header ul li:nth-child(5) {
  padding-top: 48px;
}
.main-page-header h2 {
  color: #FF8327;
  font-size: 13.07rem;
  font-family: "Tulpen One";
  text-align: center;
}
.main-page-header h2 span {
  display: block;
  color: #FFFFFF;
  font-family: "Chathura";
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  font-size: 4.16rem;
  margin-right: 38%;
  margin-top: -20%;
}
.main-page-header .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-page-header .header-flex .offset-header-image {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 300px;
}

.space-community {
  background-color: #111010;
  position: relative;
  z-index: -20;
  padding: 120px 0 120px 0;
}
.space-community ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.space-community ul li {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.plan-locations {
  background-color: #220303;
  padding: 50px 0 120px 0;
  position: relative;
}
.plan-locations a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 30%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
}
.plan-locations img {
  width: 100%;
}
.plan-locations .plan-ahead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.plan-locations .plan-ahead .plan-ahead-image {
  width: 45%;
  position: absolute;
  left: 0px;
  top: -45px;
  -webkit-box-shadow: 25px 25px 0px 0px #FF8327;
          box-shadow: 25px 25px 0px 0px #FF8327;
}
.plan-locations .plan-ahead .plan-ahead-text {
  width: 40%;
}
.plan-locations .plan-ahead .plan-ahead-text p {
  margin: 3% 0;
}
.plan-locations .new-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.plan-locations .new-locations .new-locations-image {
  width: 45%;
  position: absolute;
  right: 0px;
  bottom: -45px;
  -webkit-box-shadow: -25px -25px 0px 0px #FF8327;
          box-shadow: -25px -25px 0px 0px #FF8327;
}
.plan-locations .new-locations .new-locations-text {
  width: 40%;
  margin-top: 5%;
}
.plan-locations .new-locations .new-locations-text p {
  margin: 3% 0;
}

.host-a-party {
  background-color: #111010;
  padding: 120px 0 120px 0;
}
.host-a-party h3 {
  color: #FF8327;
  text-align: center;
}
.host-a-party a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 25%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto;
}

.beer-image {
  background-image: url("../assets/banner-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  width: 100vw;
}

.events {
  background-color: #111010;
  padding: 100px 0 100px 0;
}
.events .events-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events .events-image {
  width: 50%;
  -webkit-box-shadow: 25px 25px 0 0 #FF8327;
          box-shadow: 25px 25px 0 0 #FF8327;
}
.events .events-image img {
  width: 100%;
}
.events .events-text {
  width: auto;
  margin-left: 6%;
}
.events .events-text h3 {
  color: #FF8327;
}
.events .events-text a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 25%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
}

.main-footer {
  background-color: #220303;
}
.main-footer .image-gallery {
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-footer .image-gallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.main-footer .copyright-text {
  text-align: center;
  background-color: grey;
  padding: 5px;
  font-family: "Tulpen One";
}
.main-footer .copyright-text p {
  margin: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  font-size: 125%;
  color: #FFFFFF;
  font-family: "Chathura";
}

nav {
  font-family: "Chathura";
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

h1 {
  font-family: "Tulpen One";
}

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

a, ul, li {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 3.4rem;
  line-height: 58px;
  letter-spacing: 2.2px;
  margin: 0;
}

p {
  font-family: "Chathura";
  font-size: 1.95rem;
  line-height: 30px;
  letter-spacing: 1.9px;
}