@charset "UTF-8";
/* site fonts */
/* if we set our root element font-size to 125%, then 1 rem = 20px */
/* site colours */
.main-page-header {
  background-image: url("../assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page-header h2 {
  color: #FF8327;
  font-size: 13.07rem;
  font-family: "Tulpen One";
  text-align: center;
  margin-bottom: 0;
  display: inline;
  z-index: 100;
  position: relative;
  letter-spacing: 2.4px;
  font-weight: 400;
}
.main-page-header h2 span {
  display: block;
  color: #FFFFFF;
  font-family: "Chathura";
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  font-size: 4.16rem;
  margin-right: 36%;
  margin-top: -20%;
}
.main-page-header .header-flex {
  margin-top: 15%;
}
.main-page-header .offset-header-image {
  position: absolute;
  right: 0;
  top: 300px;
}

.space-community {
  background-color: #111010;
  padding: 150px 0 60px 40px;
}
.space-community ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.space-community ul li {
  -ms-flex-preferred-size: calc(50% - 45px);
      flex-basis: calc(50% - 45px);
  position: relative;
}
.space-community ul .new-space-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  font-size: 26px;
}
.space-community ul .community-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c0";
  font-size: 26px;
}
.space-community ul .blog-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f249";
  font-size: 26px;
}
.space-community ul .get-in-touch-icon::before {
  position: absolute;
  left: -62px;
  width: 45px;
  height: 45px;
  background: darkred;
  color: #fff;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f879";
  font-size: 26px;
}
.space-community ul p {
  margin-top: 0;
}

.plan-locations {
  background-color: #220303;
  padding: 50px 0 15px 0;
}
.plan-locations a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 30%;
  padding: 7px 40px;
  text-align: center;
  font-size: 1.8rem;
  display: inline;
}
.plan-locations .plan-ahead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.plan-locations .plan-ahead .plan-ahead-image {
  width: 50%;
  position: absolute;
  left: -140px;
  top: -76px;
}
.plan-locations .plan-ahead .plan-ahead-image img {
  -webkit-box-shadow: 25px 25px 0px 0px #FF8327;
          box-shadow: 25px 25px 0px 0px #FF8327;
}
.plan-locations .plan-ahead .plan-ahead-text {
  width: 40%;
}
.plan-locations .plan-ahead .plan-ahead-text p {
  margin-top: 0;
}
.plan-locations .new-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8%;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.plan-locations .new-locations .new-locations-image {
  width: 50%;
  position: absolute;
  right: -145px;
  bottom: -57px;
}
.plan-locations .new-locations .new-locations-image img {
  -webkit-box-shadow: -25px -25px 0px 0px #FF8327;
          box-shadow: -25px -25px 0px 0px #FF8327;
}
.plan-locations .new-locations .new-locations-text {
  width: 40%;
  text-align: right;
}
.plan-locations .new-locations .new-locations-text p {
  margin-top: 0;
  text-align: left;
}

.host-a-party {
  background-color: #111010;
  padding: 120px 0 120px 0;
}
.host-a-party h3 {
  color: #FF8327;
  text-align: center;
}
.host-a-party a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 25%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto;
}

.beer-image {
  background-image: url("../assets/banner-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  width: 100vw;
}

.events {
  background-color: #111010;
  padding: 100px 0 100px 0;
}
.events .events-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events .events-image {
  width: 50%;
}
.events .events-image img {
  width: 100%;
  -webkit-box-shadow: 25px 25px 0 0 #FF8327;
          box-shadow: 25px 25px 0 0 #FF8327;
}
.events .events-text {
  width: auto;
  margin-left: 6%;
}
.events .events-text h3 {
  color: #FF8327;
}
.events .events-text a {
  background-color: #BF2603;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 25%;
  padding: 7px 14px;
  text-align: center;
  font-size: 1.8rem;
}

.image-gallery {
  background-color: #220303;
  padding: 50px 0 50px 0;
}
.image-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.image-gallery ul li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  font-size: 125%;
  color: #FFFFFF;
  font-family: "Chathura";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  font-family: "Chathura";
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

h1 {
  font-family: "Tulpen One";
  font-weight: 400;
}

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

a, ul, li {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 3.4rem;
  line-height: 58px;
  letter-spacing: 2.2px;
  margin: 0;
}

p {
  font-family: "Chathura";
  font-size: 1.95rem;
  line-height: 30px;
  letter-spacing: 1.9px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-weight: 400;
}
nav ul li {
  padding: 0 25px;
}
nav ul .main-nav-menu-item {
  padding-top: 50px;
}
nav ul a {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
nav ul a:hover, nav ul a:focus {
  color: #FF8327;
}

footer {
  text-align: center;
  background-color: grey;
  padding: 5px;
  font-family: "Tulpen One";
}
footer p {
  margin: 0;
}

form {
  background-color: #220303;
  width: 60%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 30px 30px 0px -10px #FF8327;
          box-shadow: 30px 30px 0px -10px #FF8327;
}
form input[type=text], form input[type=email] {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  background-color: #220303;
  width: calc(50% - 10px);
}
form button {
  background-color: #BF2603;
  color: #FFFFFF;
  font-family: "Tulpen One";
  font-weight: 400;
  width: 100%;
  padding: 3px 14px;
  text-align: center;
  font-size: 1.8rem;
  border: none;
  margin-top: 2%;
}
form label {
  display: inline-block;
}

.contact-header {
  background-image: url("../assets/contact-header-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  width: 100vw;
}
.contact-header h2 {
  font-size: 3.4rem;
  line-height: 58px;
  letter-spacing: 2.2px;
  font-weight: bold;
}

.contact {
  background-color: #111010;
  padding: 100px 0 200px 0;
}
.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}
.contact .address-contact {
  font-size: 1rem;
}
.contact .address-contact li {
  line-height: 30px;
}
.contact .address-contact li:nth-child(1) {
  margin-bottom: 15px;
}
.contact .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .social-media li {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.contact form {
  padding: 40px 50px;
  margin-top: -15%;
}
.contact form label {
  width: calc(50% - 10px);
}
.contact form .message-label {
  position: absolute;
  left: 23px;
  top: 110px;
}

.blog-post-text {
  background-color: #111010;
  position: relative;
  padding: 60px 0 60px 0;
}
.blog-post-text .wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.blog-post-text .new-menu-image {
  position: absolute;
  right: 0;
  top: -130px;
  width: 63%;
}
.blog-post-text .mission-image {
  width: 25%;
  margin-top: 5%;
}
.blog-post-text .mission-image img {
  -webkit-box-shadow: 41px 4px 0px -5px #220303;
          box-shadow: 41px 4px 0px -5px #220303;
}
.blog-post-text .mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.blog-post-text aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  background-color: #220303;
  padding: 0px 19px 13px 21px;
}
.blog-post-text aside h3 {
  font-size: 1.95rem;
  margin-bottom: 0;
}
.blog-post-text aside p {
  font-size: 1rem;
  line-height: 15px;
  margin: -10px 0 0 0;
}
.blog-post-text aside .mission-text a {
  color: #FF8327;
}
.blog-post-text aside li {
  line-height: 15px;
  margin-left: 20px;
  position: relative;
  font-size: 1rem;
  line-height: 15px;
  letter-spacing: 1.9px;
  font-family: "Chathura";
}
.blog-post-text aside li::before {
  content: "•";
  position: absolute;
  color: #BF2603;
  font-size: 4rem;
  left: -20px;
  display: inline-block;
}
.blog-post-text .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-post-text article {
  padding: 39px 1px 41px 73px;
  position: relative;
  border-left: 5px solid orange;
  margin-left: 12%;
}
.blog-post-text article .blog-date {
  margin-top: 0;
  color: #FF8327;
}
.blog-post-text article::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid orange;
  bottom: 0px;
  width: 100%;
  left: 94px;
}
.blog-post-text .new-menu-blog-post h3 {
  font-size: 1.95rem;
}
.blog-post-text .new-menu-blog-post p {
  font-size: 1rem;
  line-height: 15px;
}